body {
    background: rgb(10, 10, 50);
}

#container {
    margin: 80px auto;
    width: 80%;
}

#nav-jsp-nav-top h4 {
    color: white;
}

#input {
    margin: 10px 7.5%;
    width: 85%;
}

#info {
    margin: 10px;
}

#submit {
    margin: 10px;
}

#infobox {
    margin-left: 7.5%;
}

.panel {
    background-color: aliceblue;
}

.panel-body span {
    color: blue;
    margin: 5px;
}

.panel-body h5 {
    font-weight: bold;
}